{
  "openapi": "3.0.3",
  "info": {
    "title": "TabPFN API",
    "description": "The official API for TabPFN — Prior Labs’ foundation model for tabular machine learning. Use it to fit models, make predictions, and integrate zero-shot inference into your pipelines.",
    "version": "1.0.0",
    "contact": {
      "name": "Prior Labs",
      "email": "hello@priorlabs.ai"
    }
  },
  "servers": [
    {
      "url": "https://api.priorlabs.ai.com/v1",
      "description": "Production environment for the TabPFN API"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/fit": {
      "post": {
        "summary": "Fit a Model",
        "description": "Uploads and fits a TabPFN model on your training data. The API automatically handles preprocessing and stores a reference to your trained context (not the model weights). You can use either a single dataset file (with the target column included) or separate feature and label files.",
        "operationId": "fit_v1",
        "tags": [
          "Training"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "string",
                    "description": "A JSON string defining the training configuration, including task type, target column, and preprocessing settings.",
                    "example": "{\"task\": \"classification\", \"systems\": [\"preprocessing\"], \"schema\": {\"target\": \"target_column\", \"description\": \"Customer churn dataset\"}, \"config\": {\"thinking\": true}}"
                  },
                  "dataset_file": {
                    "type": "string",
                    "format": "binary",
                    "description": "CSV file containing both features and the target column."
                  },
                  "features_file": {
                    "type": "string",
                    "format": "binary",
                    "description": "CSV file containing only feature columns (used together with labels_file)."
                  },
                  "labels_file": {
                    "type": "string",
                    "format": "binary",
                    "description": "CSV file containing only the target/label column (used together with features_file)."
                  }
                }
              },
              "examples": {
                "single_dataset": {
                  "summary": "Single CSV file (features + target)",
                  "value": {
                    "data": "{\"task\": \"classification\", \"schema\": {\"target\": \"churn\"}}",
                    "dataset_file": "[binary data]"
                  }
                },
                "separate_files": {
                  "summary": "Separate features and labels files",
                  "value": {
                    "data": "{\"task\": \"regression\", \"schema\": {\"target\": \"price\"}}",
                    "features_file": "[binary data]",
                    "labels_file": "[binary data]"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Model fitted successfully — returns a model ID for later prediction calls.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FitResponse"
                },
                "example": {
                  "model_id": "123e4567-e89b-12d3-a456-426614174000",
                  "task": "classification"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request — missing data or malformed input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "detail": "Invalid request data"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error — one or more fields are incorrectly formatted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/predict": {
      "post": {
        "summary": "Run Predictions",
        "description": "Run inference using a previously fitted TabPFN model. Upload your test dataset and specify the model ID from your previous `/fit` call. The endpoint returns predicted probabilities or values depending on the task type.",
        "operationId": "predict_v1",
        "tags": [
          "Prediction"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "data",
                  "file"
                ],
                "properties": {
                  "data": {
                    "type": "string",
                    "description": "A JSON string defining the prediction request parameters, including model ID, task type, and output configuration.",
                    "example": "{\"model_id\": \"123e4567-e89b-12d3-a456-426614174000\", \"task\": \"classification\", \"params\": {\"output_type\": \"probabilities\"}, \"config\": {\"n_estimators\": 4, \"random_state\": 42}}"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "CSV file containing the dataset to predict on."
                  }
                }
              },
              "examples": {
                "classification": {
                  "summary": "Classification task",
                  "value": {
                    "data": "{\"model_id\": \"123e4567-e89b-12d3-a456-426614174000\", \"task\": \"classification\", \"params\": {\"output_type\": \"probabilities\"}}",
                    "file": "[binary data]"
                  }
                },
                "regression": {
                  "summary": "Regression task",
                  "value": {
                    "data": "{\"model_id\": \"123e4567-e89b-12d3-a456-426614174000\", \"task\": \"regression\", \"config\": {\"n_estimators\": 8}}",
                    "file": "[binary data]"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Prediction completed successfully — returns predicted values or probabilities depending on the task.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PredictionResponse"
                },
                "example": {
                  "duration_seconds": 15,
                  "prediction": [0.1, 0.9, 0.3, 0.7],
                  "task": "classification",
                  "used_credits": 10,
                  "remaining_quota": 90
                }
              }
            }
          },
          "400": {
            "description": "Invalid request — dataset file missing or malformed input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "detail": "You must upload a dataset `file` for prediction."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Model not found — the provided model ID does not exist or has expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "detail": "Fitted model with ID 123e4567-e89b-12d3-a456-426614174000 not found"
                }
              }
            }
          },
          "422": {
            "description": "Validation error — incorrect or missing fields in the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Bearer token for authentication, obtained after signing up and generating an API key."
      }
    },
    "schemas": {
      "PredictionTask": {
        "type": "string",
        "enum": [
          "classification",
          "regression"
        ],
        "description": "Specifies the type of task to perform — either classification or regression."
      },
      "Schema": {
        "type": "object",
        "properties": {
          "target": {
            "type": "string",
            "default": "target",
            "description": "The name of the target column in the dataset."
          },
          "description": {
            "type": "string",
            "description": "A short description of the dataset for reference."
          }
        },
        "example": {
          "target": "churn",
          "description": "Customer churn prediction dataset"
        }
      },
      "FitRequest": {
        "type": "object",
        "required": [
          "task"
        ],
        "properties": {
          "dataset_id": {
            "type": "string",
            "format": "uuid",
            "description": "ID of an existing dataset stored on the platform to reuse for training."
          },
          "systems": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "preprocessing",
                "text"
              ]
            },
            "default": [
              "preprocessing",
              "text"
            ],
            "description": "Defines which internal systems to activate (e.g., preprocessing or text embeddings)."
          },
          "task": {
            "$ref": "#/components/schemas/PredictionTask"
          },
          "schema": {
            "$ref": "#/components/schemas/Schema"
          },
          "config": {
            "type": "object",
            "description": "Optional TabPFN configuration parameters for advanced control.",
            "properties": {
              "thinking": {
                "type": "boolean",
                "description": "Enable 'thinking mode' to improve performance via deeper in-context reasoning."
              },
              "n_estimators": {
                "type": "integer",
                "minimum": 1,
                "maximum": 10,
                "description": "Number of estimators to ensemble during inference."
              },
              "softmax_temperature": {
                "type": "number",
                "description": "Softmax temperature parameter for adjusting output calibration."
              },
              "random_state": {
                "type": "integer",
                "description": "Random seed for reproducible results."
              }
            },
            "example": {
              "thinking": true,
              "n_estimators": 4,
              "random_state": 42
            }
          }
        }
      },
      "FitResponse": {
        "type": "object",
        "required": [
          "model_id",
          "task"
        ],
        "properties": {
          "model_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the fitted model (used for prediction calls)."
          },
          "task": {
            "$ref": "#/components/schemas/PredictionTask"
          }
        },
        "example": {
          "model_id": "123e4567-e89b-12d3-a456-426614174000",
          "task": "classification"
        }
      },
      "PredictionRequest": {
        "type": "object",
        "required": [
          "model_id",
          "task"
        ],
        "properties": {
          "model_id": {
            "type": "string",
            "format": "uuid",
            "description": "The unique model ID returned from a previous `/fit` call."
          },
          "task": {
            "$ref": "#/components/schemas/PredictionTask"
          },
          "dataset_id": {
            "type": "string",
            "format": "uuid",
            "description": "ID of an existing dataset to reuse for prediction."
          },
          "params": {
            "type": "object",
            "description": "Prediction parameters that control the output type and format.",
            "properties": {
              "output_type": {
                "type": "string",
                "enum": [
                  "probabilities",
                  "predictions"
                ],
                "description": "Specifies whether to return probabilities or direct predictions."
              }
            },
            "example": {
              "output_type": "probabilities"
            }
          },
          "systems": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "preprocessing",
                "text"
              ]
            },
            "default": [
              "preprocessing",
              "text"
            ],
            "description": "Internal systems to use for prediction (e.g., preprocessing, text embeddings)."
          },
          "config": {
            "type": "object",
            "description": "Optional TabPFN inference configuration parameters.",
            "properties": {
              "n_estimators": {
                "type": "integer",
                "minimum": 1,
                "maximum": 10
              },
              "softmax_temperature": {
                "type": "number"
              },
              "average_before_softmax": {
                "type": "boolean"
              },
              "random_state": {
                "type": "integer"
              },
              "thinking": {
                "type": "boolean"
              }
            },
            "example": {
              "n_estimators": 4,
              "random_state": 42,
              "thinking": true
            }
          }
        }
      },
      "PredictionResponse": {
        "type": "object",
        "required": [
          "duration_seconds",
          "prediction",
          "task",
          "used_credits",
          "remaining_quota"
        ],
        "properties": {
          "duration_seconds": {
            "type": "integer",
            "description": "Time taken (in seconds) to complete the prediction."
          },
          "prediction": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "number"
                },
                {
                  "type": "string"
                }
              ]
            },
            "description": "The prediction output — probabilities for classification or numerical values for regression."
          },
          "task": {
            "$ref": "#/components/schemas/PredictionTask"
          },
          "used_credits": {
            "type": "integer",
            "description": "The number of credits consumed by this API call."
          },
          "remaining_quota": {
            "type": "integer",
            "description": "Your remaining credit balance after this request."
          }
        },
        "example": {
          "duration_seconds": 15,
          "prediction": [0.1, 0.9, 0.3, 0.7],
          "task": "classification",
          "used_credits": 10,
          "remaining_quota": 90
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "detail"
        ],
        "properties": {
          "detail": {
            "type": "string",
            "description": "A human-readable error message describing what went wrong."
          }
        },
        "example": {
          "detail": "Fitted model with ID 123e4567-e89b-12d3-a456-426614174000 not found"
        }
      },
      "ValidationError": {
        "type": "object",
        "required": [
          "detail"
        ],
        "properties": {
          "detail": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "loc": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "msg": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            }
          }
        },
        "example": {
          "detail": [
            {
              "loc": [
                "body",
                "task"
              ],
              "msg": "field required",
              "type": "value_error.missing"
            }
          ]
        }
      }
    }
  }
}
